<!DOCTYPE html>
<!-- 
  The consent.html displays the text of your IRB-approved
  consent form.  Even if you are not required to provide
  a consent form, it is helpful to use this form to 
  describe what people can do if an error comes up, etc...

-->
<html>
    <head>
        <meta charset="utf-8" />
        <title>Psychology Experiment - Informed Consent Form</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
        <script type="text/javascript">
            function onexit() {
              self.close(); // no harm, no foul here
            }
        </script>
    </head>
    <body>
        <div id="container-consent">
            <div id="consent">
        <div align="center">
            <b><u>Research Participant Information and Consent Form</u></b><br><br>
        </div>
            <ol>
            <li><b>EXPLANATION OF THE RESEARCH and WHAT YOU WILL DO:</b></li>
                <ul>
                    <li>You are being asked to participate in a research study of cognitive processing.</li>

                    <li>During this study you will view, words, letters, pictures, or digits on a computer screen. You may be asked to make simple judgments about these items (e.g., “would this item fit in a shoebox?”).</li>

                    <li>You will also complete some reasoning tasks that involve solving problems. These problems involve patterns composed of words, numbers, or pictures. You will try to determine which item completes the pattern, what rule the pattern follows, or what items break the rule.</li>

                    <li>Before each task you will receive detailed instructions and be given a chance to practice.</li>

                    <li>The tasks are designed to be moderately difficult; it is normal to find the tasks challenging.</li>

                    <li>Because some of the material involves English words, you must be a native English speaker to participate in this research.</li>

                    <li>You must be at least 18 years old to participate in this research.</li>

                </ul><br>




            <li><b>PRIVACY AND CONFIDENTIALITY:</b></li>
                <ul>
                    <li>The data for this project will be kept confidential.</li>

                    <li>The following entities will have access to the data: Researchers and Research Staff in the Psychology Department and the Human Research Protection Program at Michigan State University.</li>

                    <li>Your data will be identified by a unique ID number accessible only to the senior researcher.</li>

                    <li>The data from this study will be stored indefinitely in electronic form on a secure server located in the Psychology Department at Michigan State University.</li>

                    <li>Your confidentiality will be protected to the maximum extent allowable by law.</li>
                </ul><br>




            <li><b>YOUR RIGHTS TO PARTICIPATE, SAY NO, OR WITHDRAW:</b></li>
                <ul>
                    <li>Participation in this research project is completely voluntary. You have the right to say no. You may change your mind at any time and withdraw. You may choose not to answer specific questions or to stop participating at any time. Whether you choose to participate or not will have no effect on your grade or evaluation.</li>
                </ul><br>

            <li><b>COSTS AND COMPENSATION FOR BEING IN THE STUDY:</b></li>
                <ul>
                    <li>This study takes approximately 7 minutes to complete. You will receive $1 for your participation.</li>
                </ul><br>


            <li><b>POTENTIAL BENEFITS AND RISKS:</b></li>
                <ul>
                    <li>You will not directly benefit from your participation in this study beyond the compensation described above. However, your participation in this study may contribute to the understanding of how people process complex information.</li>

                    <li>There are no known risks associated with participation in this study.</li>
                </ul><br>



            <li><b>CONTACT INFORMATION FOR QUESTIONS AND CONCERNS:</b></li>
                        If you have concerns or questions about this study, such as scientific issues,
                        how to do any part of it, or to report an injury, please contact the researcher:<br><br>

                        Karl Healey<br>
                        Assistant Professor<br>
                        Michigan State University<br>
                        Department of Psychology<br>
                        316 Physics Rd<br>
                        East Lansing MI 48824<br>
                        khealey@msu.edu<br>
                        (517) 432-3107<br><br>

                        If you have questions or concerns about your role and rights as a research participant,
                        would like to obtain information or offer input, or would like to register a complaint
                        about this study, you may contact, anonymously if you wish,
                        the Michigan State University’s Human Research Protection Program
                        at 517-355-2180, Fax 517-432-4503, or e-mail irb@msu.edu or
                        regular mail at 207 Olds Hall, MSU, East Lansing, MI 48824.<br><br>

            <li><b>DOCUMENTATION OF INFORMED CONSENT:</b></li>
                By clicking on the button below, you indicate your voluntary agreement to participate in this study.

            </ol>

                <center>
                    <button type="button" class="btn btn-primary btn-lg" onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}'">
                    <span class="glyphicon glyphicon-ok"></span> I agree 
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
                    <span class="glyphicon glyphicon-ban-circle"></span> No thanks, I do not want to do this HIT
                    </button>
                </center>


        <div align="center">
           <font size="2">This consent form was approved by a Michigan State University Institutional Review Board. Approved 9/1/16 – valid through 8/31/17. This version supersedes all previous versions. IRB # 16-1037.</font>
        </div>


            </div>
        </div>
    </body>
</html>

