<!DOCTYPE html>
<!-- 
  The consent.html displays the text of your IRB-approved
  consent form.  Even if you are not required to provide
  a consent form, it is helpful to use this form to 
  describe what people can do if an error comes up, etc...

-->
<html>
    <head>
        <meta charset="utf-8" />
        <title>Psychology Experiment - Informed Consent Form</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
        <script type="text/javascript">
            function onexit() {
              self.close(); // no harm, no foul here
            }
        </script>
    </head>
    <body>
        <div id="container-consent">
            <div id="consent">
        <div align="left">
      <!--<div class="media-left pull-left" href="#">-->
                        <!--&lt;!&ndash; REPLACE THE LOGO HERE WITH YOUR  UNIVERSITY, LAB, or COMPANY &ndash;&gt;-->
                    <!---->


      <!--</div>-->
            <span style="color: black; font-size: 35px"><img  align="left"  id="adlogo" src="{{ server_location }}/static/images/MSU-Wordmark-PMS-567.jpg" alt="Lab Logo" /><u>Research Participant Information and Consent Form</u> </span>
        </div>
            <ol>
            <li><b>EXPLANATION OF THE RESEARCH AND WHAT YOU WILL DO:</b></li>
                <ul>
                    <li>You are being asked to participate in a research study of cognitive processing.</li>
                    <li>During this study you will view, words, letters, pictures, or digits on a computer screen. You may be asked to make simple judgments about these items (e.g., “would this item fit in a shoebox?”).</li>
                    <li>You will also complete some reasoning tasks that involve solving problems. These problems involve patterns composed of words, numbers, or pictures. You will try to determine which item completes the pattern, what rule the pattern follows, or what items break the rule.</li>
                    <li>Before each task you will receive detailed instructions and be given a chance to practice.</li>
                    <li>The tasks are designed to be moderately difficult; it is normal to find the tasks challenging.</li>
                    <li>Because some of the material involves English words, you must be a native English speaker to participate in this research.</li>
                </ul>
            <li><b>YOUR RIGHTS TO PARTICIPATE, SAY NO, OR WITHDRAW:</b></li>
                <ul>
                    <li>Participation in this research project is completely voluntary.
                        You have the right to say no. You may change your mind at any time and withdraw.
                        You may choose not to answer specific questions or to stop participating at any time.
                        Whether you choose to participate or not will have no effect on your grade or evaluation.</li>
                </ul>
            <li><b>COSTS AND COMPENSATION FOR BEING IN THE STUDY:</b></li>
                <ul>
                    <li>You will be compensated in the dollar amount specified when you accepted the MTurk HIT.</li>
                </ul>
            <li><b>CONTACT INFORMATION FOR QUESTIONS AND CONCERNS:</b></li>
                        If you have concerns or questions about this study, such as scientific issues,
                        how to do any part of it, or to report an injury, please contact the researcher:<br><br>

                        Karl Healey<br>
                        Assistant Professor<br>
                        Michigan State University<br>
                        Department of Psychology<br>
                        316 Physics Rd<br>
                        East Lansing MI 48824<br>
                        khealey@msu.edu<br>
                        (517) 432-3107<br><br>

                        If you have questions or concerns about your role and rights as a research participant,
                        would like to obtain information or offer input, or would like to register a complaint
                        about this study, you may contact, anonymously if you wish,
                        the Michigan State University’s Human Research Protection Program
                        at 517-355-2180, Fax 517-432-4503, or e-mail irb@msu.edu or
                        regular mail at 207 Olds Hall, MSU, East Lansing, MI 48824.<br><br>
            <li><b>DOCUMENTATION OF INFORMED CONSENT:</b></li>
                By clicking on the button below, you indicate your voluntary agreement to participate in this study.

            </ol>

                <center>
                    <button type="button" class="btn btn-primary btn-lg" onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}'">
                    <span class="glyphicon glyphicon-ok"></span> I agree 
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
                    <span class="glyphicon glyphicon-ban-circle"></span> No thanks, I do not want to do this HIT
                    </button>
                </center>

            </div>
        </div>
    </body>
</html>

