<div id="container-questionnaire">
    <h1>Almost finished!</h1>

    <hr />

    <p>You will be eligible for full payment once you answer the following questions.</p>

    <div class="instructions well">

        <form id="postquiz" action="debrief" method="post">


            <!-- beginning of a question -->
            <div class="row question">

                    <!--1. At any point while viewing the <b>very first list of words you saw</b>, did you suspect you would-->
                    <!--be asked to remember the words later?<br><br>-->
                    1. At any point while viewing the list of words you saw, did you suspect you would
                    be asked to remember the words later?<br>
                    <select id="awarnesscheck" name="awarenesscheck">
                        <option value="no">No, I never suspected my memory would be tested</option>
                        <option value="yes">Yes, I suspected my memory would be tested</option>
                    </select>
            </div>
             <!-- end of a question -->
<br><br>


            <!-- beginning of a question -->
            <div class="row question">


                    <!--text for E1, E2, and E3:-->
                    <!--When you were trying to memorize the words, which strategies (if any) did you use. If you used more than one-->
                    <!--(e.g., you tried different strategies on different lists), check all that you used:<br><br>-->
                   <!--<form>-->
                        <!--<input type="radio" name="none" value="none"> Did not use a strategy<br>-->
                        <!--<input type="radio" name="reading" value="reading"> Reading each word as it appeared<br>-->
                        <!--<input type="radio" name="rehearse" value="rehearse"> Repeating the words as much as possible<br>-->
                        <!--<input type="radio" name="story" value="story"> Using sentences to link the words<br>-->
                        <!--<input type="radio" name="imagery" value="imagery"> Using  mental imagery<br>-->
                        <!--<input type="radio" name="chunking" value="chunking"> Grouping the words in a meaningful way<br>-->
                        <!--<input type="radio"  name="other" value="other"> A different strategy that is not listed-->
                    <!--</form>-->


                    <!--text for E4 -&#45;&#45; we want to know about RECALL strategies rather than encoding-->
                    2. When you were trying to recall the words, which strategies (if any) did you use to control the order in which words came to mind. If you used more than one
                    (e.g., you tried different strategies at different points), check all that you used:<br>

                    <form>
                        <input type="radio" name="none" value="none"> Did not use a strategy<br>
                        <input type="radio" name="semantic" value="semantic"> Trying to remember groups of words that were related by meaning<br>
                        <input type="radio" name="temporal" value="temporal"> Trying to remember groups of words that were presented nearby in the list<br>
                        <input type="radio" name="natural" value="natural"> Allowing the words to pop to mind without trying to control the order<br>
                        <input type="radio"  name="other" value="other"> A different strategy that is not listed
                    </form>

            </div>
            <!-- end of a question -->



            <!--age-->
            <br><br>
            <!-- beginning of a question -->
            <div class="row question">

                    2. What is your current age in years: <input type="number" id="age" name="age"/>

            </div>
             <!-- end of a question -->





            <!--gender-->
            <br><br>
            <!-- beginning of a question -->
            <div class="row question">

                    ??. Which gender do you identify as?

                    <select id="gender" name="gender">
                        <option value="" selected="selected"></option>
                        <option value="male">male</option>
                        <option value="female">female</option>
                        <option value="notsay">I prefer not to answer</option>
                    </select>
            </div>
             <!-- end of a question -->





            <!--native english-->
            <br><br>
            <!-- beginning of a question -->
            <div class="row question">

                    ??. Is English your native language (i.e., the first language you learned)?

                    <select id="english" name="english">
                        <option value="" selected="selected"></option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                        <option value="notsay">I prefer not to answer</option>
                    </select>
            </div>
             <!-- end of a question -->





            <!--education level-->
            <!-- beginning of a question -->
            <br><br>
            <div class="row question">

                    ??. What is the highest level of education you have completed?

                    <select id="edu" name="edu">
                        <option value="" selected="selected"></option>
                        <option value="none">less than high school</option>
                        <option value="hig">high school</option>
                        <option value="ass">associates degree</option>
                        <option value="bac">bachelors degree</option>
                        <option value="mas">masters degree</option>
                        <option value="high">advanced (e.g., PhD, MD, JD)</option>
                        <option value="notsay">I prefer not to answer</option>
                    </select>
            </div>
             <!-- end of a question -->


        </form>


    </div>


    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
