<div id="container-questionnaire">
    <h1>Almost finished!</h1>

    <hr />

    <p>You will be eligible for full payment once you answer the following questions about how you approached the task.</p>

    <div class="instructions well">

        <form id="postquiz" action="debrief" method="post">


            <!-- beginning of a question -->
            <div class="row question">

                    Which strategies (if any) did you use when trying to remember the words. If you used more than one
                    (e.g., you tried different strategies on different lists), check all that you used:<br><br>

                    <form>
                        <input type="radio" name="none" value="none"> Did not use a strategy<br>
                        <input type="radio" name="reading" value="reading"> Reading each word as it appeared<br>
                        <input type="radio" name="rehearse" value="rehearse"> Repeating the words as much as possible<br>
                        <input type="radio" name="story" value="story"> Using sentences to link the words<br>
                        <input type="radio" name="imagery" value="imagery"> Using  mental imagery<br>
                        <input type="radio" name="chunking" value="chunking"> Grouping the words in a meaningful way<br>
                        <input type="radio"  name="other" value="other"> A different strategy that is not listed
                    </form>

            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="row question">

                    At any point while viewing the <b>very first list of words you saw</b>, did you suspect you would
                    be asked to remember the words later?<br><br>

                    <select id="awarnesscheck" name="awarenesscheck">
                        <option value="yes">No, I never suspected my memory would be tested</option>
                        <option value="yes">Yes, I suspected my memory would be tested</option>
                    </select>
            </div>
             <!-- end of a question -->



        </form>
    </div>


    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
