<div id="container-questionnaire">
    <h1>Task Complete</h1>

    <hr />

    <p>You are finished!  Thank you for your contributions to science. You will be eligible for full payment once you answer the following questions.</p>

    <div class="instructions well">

        <form id="postquiz" action="debrief" method="post">


            <!-- beginning of a question -->
            <div class="row question">

                    Which strategies (if any) did you use when trying to remember the words. If you used more than one (e.g., you tried different strategies on different lists), check all that you used:<br><br>

                    <form>
                        <input type="radio" name="none" value="none" checked> Did not use a strategy<br>
                        <input type="radio" name="reading" value="reading"> Reading each word as it appeared<br>
                        <input type="radio" name="rehearse" value="rehearse"> Repeating the words as much as possible<br>
                        <input type="radio" name="story" value="story"> Using sentences to link the words<br>
                        <input type="radio" name="imagery" value="imagery"> Using  mental imagery<br>
                        <input type="radio" name="chunking" value="chunking"> Grouping the words in a meaningful way<br>
                        If you did something else, please describe: <input type="text"  name="other" value=""/>
                    </form>

            </div>
            <!-- end of a question -->


        </form>
    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
