<div id="container-instructions">

	<h1>Instructions (continued)</h1>

	<hr />

	<div class="instructions well">

		<p>We are trying to find a set of words that are neither too easy nor too hard for people to process. We want to use these words in an upcoming study of brain activity during word processing. Your responses today will help us select appropriate words.</p>

	   <p>You will be asked to make a judgment about each word in the list.
       Specifically, you will decide whether or not the word refers to an object that is larger than a some other reference object.
           The specific reference object you are comparing the word to will be shown on the screen and will vary from word to word.</p>

       <p>You will see each word for only a few seconds. Therefore, for some words, you will find it easy to
           decide if it is larger than the reference object. For other words, you will find it difficult.
           For each word, you will try to decide if it is larger than the reference object and indicate whether it was easy or difficult.</p>

      <p>There are two possible choices for each word: "Yes" and "No". You will respond by pressing
      the "y" key for "Yes" or the "n" key for "No".</p>

      <p>For example, if we asked you to judge the word "owner" aginst the reference object "shoebox", you would press "y" if you can easily decide
          if is larger than a shoebox, and "n" if you find it difficult.</p>

      </p>The task will automatically advance to the next word after a fixed amount of time.
      There will be a brief screen showing a cross, "+", between each word presentation.</p>

      <p>To ensure participants are thinking carefully about each word, we will
          randomly pause the task and ask you to type a description of how you made your judgment.</p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
