<div id="container-instructions">

	<h1>Instructions (continued)</h1>

	<hr />

	<div class="instructions well">

        <p>We are trying to find a set of words that are neither too easy nor too hard for people to process.
            We want to use these words in an upcoming study of brain activity during word processing.
            Your responses today will help us select appropriate words.</p>

        <p>You will be asked to make a judgment about each word in the list.
            Specifically, you will decide whether or not you can easily
            incorporate each word into an ongoing ``mental movie''.</p>

        <p>When you read a word, it can trigger many different thoughts.
            For example, if you see the word ``BASEBALL'' you might have a mental image of a baseball,
            you might hear the crack of a bat hitting a ball, you might think of related concepts like ballpark,
            players, and fans. You might have a mental image of a baseball game that includes the sounds,
            sights, and smells of a baseball stadium. You might think back to
            personal experiences related to baseball such as the last time you watched a game,
            or learning to play baseball as a child.
            All of these thoughts may be associated with positive or negative emotions.</p>

        <p>For each word you see, allow it to activate as many different thoughts as possible.
            Then use these thoughts to generate a mental movie
            (like a detailed image of spending an afternoon at a baseball game or what it
            is like to be a player on a baseball field).</p>

        <p>Critically, try to incorporate each new word into your existing mental movie.
            For example, if the next word was "owner", you should allow it to activate many
            associated thoughts and then incorporate it into your existing ``ballpark'' movie.
            You might think of, for example, the owner of a ballpark, of the owners box in the stadium,
            of a person in a business suit, of a person negotiating a deal to buy a baseball team.</p>

        <p>You will see each word for only a few seconds.
            Therefore, for some words, you will find it easy to incorporate it into your mental movie.
            For other words, you will find it difficult. For each word, you will try to incorporate it into your
            mental movie and decide if it is easy or difficult.</p>

        <p>There are two possible choices for each word: "Yes" and "No".
            You will respond by pressing the "y" key for "Yes" or the "n" key for "No".</p>

        <p>For example, if we asked you to judge the word "owner",
            you would press "y" if you can easily incorporate it into your movie, and "n" if you find it difficult.</p>

        <p>The task will automatically advance to the next word after a fixed amount of time.
            There will be a brief screen showing a cross, "+", between each word presentation.</p>

        <p>To ensure participants are thinking carefully about each word,
            we will randomly pause the task and ask you to type a description of your mental movie.</p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
