<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">

        <p>Thank you for participating in this study. </p>

        <p>We are interested in how people make simple judgments about common words and
        how they subsequently remember the words. Please position this window in the center
        of your screen so you can comfortably view the words.</p>

        <p>You will see a list of words appear one at a time and make a judgment about each one
        (more details on the next page). After each word, you will do a few math problems.
        After a series of word judgements and math problems, you will be prompted to type in any words that you can remember
        from the list.</p>

        <p>When prompted, type any words that you can remember from the list you just saw,
        <i>in any order</i> (type one word in each of the provided text boxes).</p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
