<div id="container-instructions">

	<h1>Instructions (continued)</h1>

	<hr />

	<div class="instructions well">

	   <p> DEEPITEM-TASK You will be asked to make a judgment about each word in the list.
       Specifically, you will decide whether or not the word refers to an object that could
       fit into a regular shoebox.</p>

      <p>There are two possible choices for each word: "Yes" and "No". You will respond by pressing
      the "y" key for "Yes" or the "n" key for "No".</p>

      <p>For example, if we asked you to judge the word "baseball", you would press "y"
      because a baseball can certainly fit into a shoebox.</p>

      <p>For some words, it won't be clear what the right answer is;
      just answer according to your first reaction to the word.</p>

      </p>The task will automatically advance to the next word after a fixed amount of time.
      There will be a brief screen showing a cross "+" between each word presentation.</p>
	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
